<auth-layout [nav-links]="authLinks">


  <form action="" (submit)="onSubmit()" [formGroup]="form">

    <strong class="error d-block" *ngIf="error">{{error}}</strong>

    <auth-form-input [field]="name" placeholder="NAME"></auth-form-input>

    <auth-form-input [field]="email" placeholder="EMAIL ADDRESS"></auth-form-input>

    <auth-form-input [field]="password" placeholder="PASSWORD" type="password"></auth-form-input>

    <auth-form-input [field]="repeat_password" placeholder="PASSWORD REPEAT" type="password"></auth-form-input>

    <div>
      <button class="btn btn-auth-form">Sign Up</button>
    </div>

  </form>

</auth-layout>