

/**
Colors
 */

//general
$gradientLeftColor: #00b2e3;
$gradientRightColor: #004d71;

//auth
$authDefaultColor: #fff;
$authPlaceholderColor: #ccc;
$authErrorColor: #f33;
$authHeaderFont: 'FuturaLt', fantasy, sans-serif;
$authDefaultFont: 'FuturaStd', fantasy, sans-serif;

//profile
$profileDefaultColor: #637180;
$profileErrorColor: #f33;
$profileHeaderFont: 'FuturaLt', fantasy, sans-serif;
$profileDefaultFont: 'FuturaStd', fantasy, sans-serif;
$sideBarDefaultColor: #fff;

